<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Matias Garnica</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

     <header id="header">
            <h1>Programcion Visual</h1>
     

     <nav class="nav">
         <ul>
            <li><a href="#inicio" target="_top" class="a">Inicio</a>
            <li><a href="#profesores" target="_top" class="a">Profesores</a>
            <li><a href="#comiciones" target="_top" class="a">Comiciones</a>  
            <li><a href="#contacto" target="_top" class="a">Contacto</a>
            <li><a href="/formulario" target="_top" class="a">Formulario</a>
         </ul>
       
     </nav>
     </header>
     <div class="container">
     <main class="main" style="text-align: left;">
          <section id="inicio" class="section">
                  <h2 class="h">Inicio</h2>
                  <p>Esta materia se llama Programacion Visual y esta orientada a enseñarnos mas sobre la programacion</p>
          </section>  
          <section id="profesores" class="section">
                  <h2 class="h">Profesores</h2> 
                  <p>Los Profesores que estan en esta materia son</p>
                  <ul>
                     <li>Ariel Vega</li>
                     <li>Carolina Apaza</li>
                     <li>Juan Carlos Rodriguez</li>
                     <li>Gustavo Sosa</li> 
                  </ul>
          </section>
          <section id=comiciones class="section">
                  <h3 class="h">Comisiones</h3>
                  <p>Hay distinas comisiones para las clases practicas y una sola para la teorica</p>
                  <table border="1" class="table-section">
                        <tr>
                           <th>Lunes</th>
                           <th>Martes</th>
                           <th>Mierciles</th>
                           <th>Jueves</th>
                           <th>Viernes</th>
                        </tr>
                        <tr>
                           <td>Comision 1 Pracrica</td>
                           <td></td>
                           <td>Clase de Teoria</td>
                           <td>Comision 2 Practica</td>
                           <td>Comision 3 Practica</td>  
                        </tr>
                  </table>
          </section>      
     </main>
     <br>
     <aside class="aside">
           <a href="https://virtual.unju.edu.ar/pluginfile.php/803187/mod_resource/content/1/Programacion%20Visual%202024.pdf" target="_blank">
           <img alt="Logo de la Materia" src="https://virtual.unju.edu.ar/pluginfile.php/420518/course/section/41401/logopv.png" width="300" height="200">
           </a>
     </aside>
     </div>
     <footer id="footer" >
            <h3>Contacto</h3>
             <p>Profe Ariel Vega: arielalejandrovega@gmail.com</p>
            <p>Profe Carolina Apaza: apazacarolina@gmail.com</p>
            <p>Profe Gustavo Sosa: gustso@gmail.com </p>
            <p>Profe Juan Carlos Rodriguez: jcrodriguez@fi.unju.edu.arzm</p>
            
     </footer>

</body>
</html>