<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Matias Garnica</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
     <header id="header">
            <h1>Programcion Visual</h1>
     

     <nav class="nav">
         <ul>
            <li><a href="#inicio" target="_top">Inicio</a>
            <li><a href="#profesores" target="_top">Profesores</a>
            <li><a href="#comiciones" target="_top">Comiciones</a>  
            <li><a href="#contacto" target="_top">Contacto</a>
            <li><a href="/formulario" target="_top">Formulario</a>
         </ul>
       
     </nav>
     </header>
    </div>  
     <main class="main">
          <section id="inicio">
                  <h2>Inicio</h2>
                  <p>Esta materia se llama Programacion Visual y esta orientada a enseñarnos mas sobre la programacion</p>
          </section>  
          <section id="profesores">
                  <h2>Profesores</h2> 
                  <p>Los Profesores que estan en esta materia son</p>
                  <ul>
                     <li>Ariel Vega</li>
                     <li>Carolina Apaza</li>
                     <li>Juan Carlos Rodriguez</li>
                     <li>Gustavo Sosa</li> 
                  </ul>
          </section>
          <section id=comiciones class="section">
                  <h3>Comisiones</h3>
                  <p>Hay distinas comisiones para las clases practicas y una sola para la teorica</p>
                  <table border="1">
                        <tr>
                           <th>Lunes</th>
                           <th>Martes</th>
                           <th>Mierciles</th>
                           <th>Jueves</th>
                           <th>Viernes</th>
                        </tr>
                        <tr>
                           <td>Comision 1 Pracrica</td>
                           <td></td>
                           <td>Clase de Teoria</td>
                           <td>Comision 2 Practica</td>
                           <td>Comision 3 Practica</td>  
                        </tr>
                  </table>
          </section>      
     </main>
     <br>
     <aside>
           <a href="https://virtual.unju.edu.ar/pluginfile.php/803187/mod_resource/content/1/Programacion%20Visual%202024.pdf" target="_blank">
           <img alt="Logo de la Materia" src="https://virtual.unju.edu.ar/pluginfile.php/420518/course/section/41401/logopv.png" width="300" height="200">
           </a>
     </aside>
     
     <footer id="footer" class="a">
            <h3>Contacto</h3>
             <p>Profe Ariel Vega: <a href="arielalejandrovega@gmail.com" target="_blank">arielalejandrovega@gmail.com</a></p>
            <p>Profe Carolina Apaza: <a href="apazacarolina@gmail.com" target="_blank">apazacarolina@gmail.com</a></p>
            <p>Profe Gustavo Sosa: <a href="vgustso@gmail.com" target="_blank">gustso@gmail.com</a></p>
            <p>Profe Juan Carlos Rodriguez: <a href="jcrodriguez@fi.unju.edu.ar" target="_blank">jcrodriguez@fi.unju.edu.ar</a></p>
            
     </footer>

</body>
</html>